# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific
.DS_Store
.thumbs